@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Verkiezings Formatie</h1>
    <p><center>In 2017 werd het maar weer eens duidelijk: het formeren van een coalitie na de verkiezingen is een hele klus. De verwachting is dat dat volgend jaar na de verkiezingen de uitdaging nog groter en de informateur zal een flinke klus hebben dit proces goed te doen. Kamervoorzitter Arib heeft daarom besloten dat dit proces geautomatiseerd moet worden voor de verkiezingen van 2021.</center></p>
</div>
