@using System.Linq;
@using Logic;
@{
    List<Party> parties = ViewBag.Parties;
    ViewData["Title"] = "Partijen";
}

<div class="text-center">
    <h1 class="display-4">Partijen</h1>
    <div class="results-container">
        @if (parties.Any())
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Naam
                        </th>
                        <th>
                            Afkorting
                        </th>
                        <th>
                            Lijsttrekker
                        </th>
                        <th>
                            Edit
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Party party in parties)
                    {
                        <tr>
                            <td>@party.Abbreviation</td>
                            <td>@party.Name</td>
                            <td>@party.Leader</td>
                            <td>
                                <form asp-action="Edit">
                                    <button type="submit" method="post" class="button" asp-controller="Party"
                                            asp-action="Edit" asp-route-id="@party.ID">
                                        Aanpassen
                                    </button>
                                </form>
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
        }
    </div>
</div>
